@model MovieViewModel

<h2>Reservation Confirmation</h2>

<p>Reservation details:</p>
<ul>
    <li>Movie: @Model.Name</li>
    <li>Date: @Model.Price</li>
    
    <!-- يمكنك إضافة المزيد من تفاصيل الحجز حسب الحاجة -->
</ul>

<p>An email with your ticket details has been sent to your email address.</p>
